<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p class="mb-0">JavaScript:</p>
        </div>
        <div class="col">
          <p class="text-muted mb-0">30%</p>
        </div>
        <div class="col">
          <p class="mb-0"></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p class="mb-0">HTML:</p>
        </div>
        <div class="col">
          <p class="text-muted mb-0">50%</p>
        </div>
        <div class="col">

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p class="mb-0">CSS:</p>
        </div>
        <div class="col">
          <p class="text-muted mb-0">25%</p>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
  </div>
</div>
